* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
}

nav .menu-links a:first-child, nav .misc a:first-child {
  padding-right: 2em;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  padding: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 1 0 300px;
  max-width: 450px;
  height: 430px;
  overflow: hidden;
  background: #ffffff;
  color: #000000;
  text-decoration: none;
  font-size: 1rem;
}

.card:hover {
  box-shadow: 2px 3px 18px rgba(95, 91, 91, 0.4);
}

.card:hover .add-to-cart {
  display: block;
  position: absolute;
  content: '';
  top: -32px;
  right: 25px;
}

.card:hover .add-to-cart .fa-shopping-cart {
  color: white;
  background-color: #5ece7b;
  border-radius: 50%;
  padding: 1em;
}

.card__image {
  flex: 0 0 320px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0.5em;
}

.card__content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
}

.card__title {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.card__title p {
  font-size: 18px;
}

.card__price {
  margin-bottom: 0.5rem;
}

.card__price p {
  font-size: 18px;
}

.card .add-to-cart {
  display: none;
}

.product-page {
  min-height: 50vh;
  display: flex;
  justify-content: space-evenly;
  width: 1070px;
  margin-top: 3.5em;
}

.product-page__gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 170px;
  height: 300px;
}

.product-page__gallery img {
  width: 100%;
}

.product-page__main-image {
  width: 900px;
}

.product-page__main-image img {
  width: 100%;
}

.product-page__details {
  margin-left: 3em;
  width: 70%;
}

.product-page__details .brand {
  padding-bottom: 0.8em;
  font-weight: light;
  font-size: 1.3rem;
}

.product-page__details .size {
  padding-bottom: 0.8em;
  cursor: pointer;
}

.product-page__details .size p {
  padding-bottom: 0.5em;
}

.product-page__details .size__options {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.product-page__details .size__options .box {
  border: 1px solid black;
  padding: 0.8em;
  text-transform: uppercase;
}

.product-page__details .price {
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 0.6em;
  padding-bottom: 0.8em;
}

.product-page__details .price p {
  padding-bottom: 0.5em;
}

.product-page__details .add-to-cart {
  padding: 0.6em 0;
}

.product-page__details .add-to-cart button {
  padding: 1em;
  width: 60%;
  background-color: #5ece7b;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}

.product-page__details .description {
  width: 70%;
}

.checkout-page {
  min-height: 100vh;
  max-width: 1050px;
}

.checkout-page .cart {
  margin-top: 5em;
}

.checkout-page .cart__title {
  text-transform: uppercase;
}

.checkout-page .cart hr {
  margin-top: 2em;
}

.checkout-page .cart__body {
  display: flex;
}

.checkout-page .cart__body .details {
  margin-right: auto;
}

.checkout-page .cart__body .details .name {
  padding: 0.2em 0;
}

.checkout-page .cart__body .details .brand {
  font-weight: lighter;
}

.checkout-page .cart__body .details .price {
  padding: 0.5em 0;
  font-weight: bold;
  font-size: 1.2em;
}

.checkout-page .cart__body .details .size {
  display: flex;
}

.checkout-page .cart__body .details .size__type:first-child {
  margin-right: 1em;
}

.checkout-page .cart__body .box {
  border: 1px solid black;
  padding: 0.4em;
}

.checkout-page .cart__body .quantity {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.4em;
}

.checkout-page .cart__body .quantity .number {
  text-align: center;
}

.checkout-page .cart__body .image {
  width: 100px;
  padding: 0.4em;
}

.checkout-page .cart__body .image img {
  width: 100%;
}

.cart-dropdown {
  position: absolute;
  width: 310px;
  height: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 60px;
  right: 10px;
  z-index: 5;
}

.cart-dropdown .empty-message {
  font-size: 18px;
  margin: 50px auto;
}

.cart-dropdown .title {
  position: relative;
}

.cart-dropdown .title .heading {
  position: absolute;
  top: -20px;
}

.cart-dropdown .title .heading .bold {
  text-transform: capitalize;
  font-weight: bold;
}

.cart-dropdown .cart {
  overflow-y: scroll;
}

.cart-dropdown .cart__title {
  text-transform: uppercase;
}

.cart-dropdown .cart__body {
  display: flex;
  padding: 1em 0;
}

.cart-dropdown .cart__body .details {
  margin-right: auto;
}

.cart-dropdown .cart__body .details .name {
  padding: 0.2em 0;
  font-size: 1.2rem;
}

.cart-dropdown .cart__body .details .brand {
  font-weight: lighter;
  font-size: 1.1rem;
}

.cart-dropdown .cart__body .details .price {
  padding: 0.6em 0;
  font-weight: bold;
  font-size: 1.2em;
}

.cart-dropdown .cart__body .details .size {
  display: flex;
  padding-top: 10px;
}

.cart-dropdown .cart__body .details .size__type:first-child {
  margin-right: 1em;
}

.cart-dropdown .cart__body .box {
  border: 1px solid black;
  padding: 0.4em;
}

.cart-dropdown .cart__body .quantity {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.4em;
}

.cart-dropdown .cart__body .quantity .number {
  text-align: center;
}

.cart-dropdown .cart__body .image {
  width: 100px;
  padding: 0.4em;
}

.cart-dropdown .cart__body .image img {
  width: 100%;
}

.cart-dropdown .total {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  text-transform: capitalize;
  padding-top: 1.5em;
}

.cart-dropdown .buttons {
  padding-top: 2em;
  display: flex;
  justify-content: space-between;
}

.cart-dropdown .buttons button {
  padding: 1em;
  width: 45%;
  text-transform: uppercase;
}
