* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
}

nav .menu-links a:first-child, nav .misc a:first-child {
  padding-right: 2em;
}

.category-page {
  margin-top: 4em;
  margin-bottom: 2em;
}

.category-page .category__body {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(3, 350px);
}

.category-page .category__body .box {
  height: 450px;
  margin: 3em;
  padding: 1em 1em 0 1em;
}

.category-page .category__body .box .image-container {
  width: 350px;
  height: 350px;
  overflow: hidden;
}

.category-page .category__body .box .image-container img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.category-page .category__body .box .product-info {
  position: relative;
}

.category-page .category__body .box p {
  padding: 0.5em 0 0.5em 0;
}

.category-page .category__body .box .show-cart-icon {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  content: "";
  top: -14px;
  right: 0;
}

.category-page .category__body .box:hover {
  box-shadow: 2px 5px 9px #ebebeb;
}

.category-page .category__body .box:hover .show-cart-icon {
  opacity: 1;
  pointer-events: auto;
}

.product-page {
  min-height: 100vh;
  display: flex;
  flex-grow: 0;
  justify-content: space-evenly;
  margin-top: 4em;
}

.product-page__gallery {
  min-height: 100vh;
}

.product-page__gallery .gallery-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 70vh;
}

.product-page__gallery .gallery-box img {
  max-width: 90px;
  max-height: 100%;
}

.product-page__large-image {
  height: 500px;
  width: 100%;
  background-color: #5ECE7B;
  flex-basis: 30%;
}

.product-page__large-image img {
  max-width: 100%;
  max-height: 100%;
}

.product-page .product-body {
  flex-basis: 30%;
  justify-content: space-evenly;
}

.product-page .product-body__size h4 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.product-page .product-body__size .size-option__box {
  display: flex;
  justify-content: space-evenly;
  width: 45%;
}

.product-page .product-body__size .size-option__box .size-box {
  border: 1px solid;
  padding: 0.9em;
  margin: 0.1em;
}

.product-page .product-body__price h4 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.product-page .product-body__button {
  padding-top: 1em;
}

.product-page .product-body__button button {
  padding: 0.8em;
  width: 50%;
  text-transform: uppercase;
  background-color: #5ece7b;
  color: #fff;
}

.product-page .product-body__desc {
  padding-top: 1em;
}

.checkout-page {
  min-height: 100vh;
  max-width: 1050px;
}

.checkout-page .cart {
  margin-top: 5em;
}

.checkout-page .cart__title {
  text-transform: uppercase;
}

.checkout-page .cart hr {
  margin-top: 2em;
}

.checkout-page .cart__body {
  display: flex;
}

.checkout-page .cart__body .details {
  margin-right: auto;
}

.checkout-page .cart__body .details .name {
  padding: 0.2em 0;
}

.checkout-page .cart__body .details .brand {
  font-weight: lighter;
}

.checkout-page .cart__body .details .price {
  padding: 0.5em 0;
  font-weight: bold;
  font-size: 1.2em;
}

.checkout-page .cart__body .details .size {
  display: flex;
}

.checkout-page .cart__body .details .size__type:first-child {
  margin-right: 1em;
}

.checkout-page .cart__body .box {
  border: 1px solid black;
  padding: 0.4em;
}

.checkout-page .cart__body .quantity {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.4em;
}

.checkout-page .cart__body .image {
  width: 100px;
  padding: 0.4em;
}

.checkout-page .cart__body .image img {
  width: 100%;
}
