*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
}

@import 'colors_fonts';
@import 'navigation';
@import 'category-page';
@import 'product-page';
@import 'checkout-page';
@import 'cart-dropdown';









